*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Orbitron', sans-serif;
}

body{
background:#0f0f0f;
color:white;
padding-top:120px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;

background:#e4e4e400;
padding:20px 10%;

position:fixed;
top:0;
width:100%;
z-index:1000;
}

nav a{

color:white;
margin-left:20px;
text-decoration:none;
font-weight:600;

}

nav a:hover{

color:#ffcccc;

}

.hero{

height:80vh;
background:url('https://images.unsplash.com/photo-1518770660439-4636190af475') center/cover;

display:flex;
align-items:center;
padding-left:10%;

}

.hero-text{

background:rgba(0,0,0,0.6);
padding:40px;
border-radius:10px;

}

.hero h2{

font-size:48px;
color:#ff2e2e;

}

.btn{

display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#ff0000;
color:white;
text-decoration:none;
border-radius:5px;

}

.section{

padding:80px 10%;
text-align:center;

}

.cards{

display:flex;
gap:30px;
margin-top:40px;
justify-content:center;

}

.card{

background:#1b1b1b;
padding:30px;
border-radius:10px;
width:250px;
transition:0.3s;

}

.card:hover{

transform:translateY(-10px);
box-shadow:0 10px 20px rgba(255,0,0,0.4);

}

.clientes{

display:flex;
gap:20px;
justify-content:center;
margin-top:40px;

}

.cliente{

background:#1a1a1a;
padding:20px;
border-radius:5px;

}

form{

display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
gap:15px;

}

input, textarea{

padding:12px;
border:none;
border-radius:5px;

}

button{

background:#db3e3ebb;
color:white;
padding:12px;
border:none;
border-radius:5px;

}

footer{

background:#c40000;
text-align:center;
padding:20px;
margin-top:40px;

}

.logo img{
height:120px;
filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
transition:0.3s;
}

.logo img:hover{
filter: drop-shadow(0px 0px 15px white);
transform:scale(1.05);
}

.header-suporte{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
border-bottom:3px solid red;
padding:20px 10%;
}

.voltar{
background:red;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

.info-suporte{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
flex-wrap:wrap;
}

.card-suporte{
background:#1a1a1a;
padding:30px;
border-radius:10px;
width:250px;
text-align:center;
transition:0.3s;
word-break: break-word;
overflow-wrap: anywhere;
font-size:14px;
}

.card-suporte:hover{
transform:translateY(-8px);
box-shadow:0 10px 20px rgba(255,0,0,0.4);
}

.form-suporte{
display:flex;
flex-direction:column;
max-width:450px;
margin:auto;
gap:15px;
margin-top:30px;
}

.form-suporte input,
.form-suporte textarea{
padding:12px;
border-radius:6px;
border:none;
background:#222;
color:white;
}

.form-suporte button{
background:red;
color:white;
padding:12px;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

.form-suporte button:hover{
background:#ff2e2e;
}

html{
scroll-behavior:smooth;
}

.section{
padding:80px 10%;
text-align:center;
opacity:1;
transform:translateY(0);
transition:0.6s;
}

.section.show{
opacity:1;
transform:translateY(0);
}
.icon{
font-size:40px;
margin-bottom:15px;
color:#ff2e2e;
}
.clientes-carousel{
display:flex;
gap:60px;
overflow:hidden;
justify-content:center;
align-items:center;
margin-top:40px;
animation:scrollClientes 20s linear infinite;
}

.clientes-carousel img{
height:60px;
filter:grayscale(100%);
opacity:0.7;
}

@keyframes scrollClientes{
0%{transform:translateX(0);}
100%{transform:translateX(-50%);}
}
.whatsapp{
position:fixed;
bottom:25px;
right:25px;
background:#25D366;
color:white;
font-size:28px;
width:60px;
height:60px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
text-decoration:none;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
z-index:1000;
}

.whatsapp:hover{
transform:scale(1.1);
}

.footer{
background:#111;
padding:50px 10%;
margin-top:60px;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.footer h3{
color:#ff2e2e;
margin-bottom:10px;
}

.footer-bottom{
text-align:center;
margin-top:40px;
border-top:1px solid #333;
padding-top:20px;
color:#aaa;
}